stages:
  - Preflight
  - build
  - test

include:
  - local: core/core-ci.yml

Build Base Image:
  stage: Preflight
  rules:
    - if: '$CI_MERGE_REQUEST_ID || $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "dev"'
      when: always
    - when: never
  script:
    - docker build -t pipeline-tools/base:${CI_PIPELINE_ID} .gitlab/ci/base_image


Test Running Main Executable:
  image: pipeline-tools/base:${CI_PIPELINE_ID}
  needs:
    - job: Build Base Image
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - when: never
  stage: test
  before_script:
    - cmake -B build -DCMAKE_BUILD_TYPE=Release
    - apt update
    - apt install -y curl
    - cmake --build build --target pipeline-tools -- -j${NUM_PROCS}
  script:
    - ./build/pipeline-tools &
    - SERVER_PID=$!
    - sleep 2
    - RESPONSE=$(curl -s http://localhost:8081/)
    - test "$RESPONSE" = "true"
  variables:
    NUM_PROCS: 1

Build Docs:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "dev"'
      when: always
    - when: never
  script:
    - docker build -f docs/Dockerfile -t pipeline-tools/docs:latest .
    - docker tag pipeline-tools/docs:latest pipeline-tools/docs:${CI_COMMIT_BRANCH}
