stages:
  - build
  - test

variables:
  BUILD_DIR: build

before_script:
  - cmake -B $BUILD_DIR -DCMAKE_BUILD_TYPE=Release

Build All:
  stage: build
  script:
    - cmake --build $BUILD_DIR --target all

Test GTest:
  stage: test
  script:
    - cmake --build $BUILD_DIR --target pt-core-gtest
    - ./$BUILD_DIR/pipeline_tools/test/pt-core-gtest
  needs:
    - Build All

Test Benchmark:
  stage: test
  script:
    - cmake --build $BUILD_DIR --target pt-core-benchmark
    - mkdir -p ./out
    - ./$BUILD_DIR/pipeline_tools/test/pt-core-benchmark | tee ./out/benchmark.log
  needs:
    - Build All
  artifacts:
    paths:
      - out/

# Only run on main branch, merge requests, and tags
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
