name: CMake Build and Test

on:
  push:
    branches: [ main ]
    tags: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build All Targets
        run: |
          cmake --build build --target all
      - name: Run GTest
        run: ./build/pipeline_tools/test/pt-core-gtest

      - name: Run Benchmarks and Save Output
        run: |
          mkdir -p ./out
          ./build/pipeline_tools/test/pt-core-benchmark | tee ./out/benchmark.log

      - name: Upload Benchmark Artifact
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results
          path: out/benchmark.log